---
layout: default
---
{% for post in site.posts %}

    <article class="blogarticle">
       	<header>

		    <h2>{{ post.title }}</h2>
		  	<time class="tm"> <strong> {{post.date | date: "%d"}} <em> {{post.date | date: "%m.%Y" }} </em></strong></time>
		  	  <span class="posttag">
		      {% for tag in post.tags %}
		          <a href= "/tags/{{ tag }}">{{ tag }}</a>
		      {% endfor %}
		       </span>     

		  </header> 
	      {{ post.content | truncatewords: 100 }}
          <a href="{{ post.url }}" title="Read more">(Read more)</a>
    </article>
{% endfor %}
