---
layout: default
---
<article class="blogarticle">
  
  <header>
	
    <h2>{{ page.title }}</h2>
  	<time class="tm"> <strong> {{page.date | date: "%d"}} <em> {{page.date | date: "%m.%Y" }} </em></strong></time>
  	  <span class="posttag">
      {% for tag in page.tags %}
          <a href= "/tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
       </span>     
   
  </header> 

  {{ content }}
  
  <footer>
    <h2><a href="/#{{ page.id }}">Back</a></h2>
    <!-- Disqus comments engine -->
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    var disqus_shortname = 'ivlgithubblog';
	    var disqus_title = '{{ page.title }}';
	    var disqus_url = 'http://ivl.github.com' + '{{ page.url }}';
	    var disqus_id = '{{ page.id }}';

	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

     <p>Tag cloud  {% tag_cloud %} </p>
	 </footer>
</article>
